.svn
*.out
*.cmi
*.cmo
*.cmx
*.o
*.so
*.a
*.cma
*.cmxa
.depend
var/
sw/ground_segment/cockpit/gcs
sw/ground_segment/cockpit/gtk_save_settings.ml
sw/ground_segment/cockpit/gtk_setting_time.ml
sw/ground_segment/cockpit/gtk_strip.ml
sw/ground_segment/multimon/costabf.c
sw/ground_segment/multimon/costabi.c
sw/ground_segment/multimon/mkcostab
sw/ground_segment/multimon/multimon
sw/ground_segment/tmtc/broadcaster
sw/ground_segment/tmtc/dia
sw/ground_segment/tmtc/diadec
sw/ground_segment/tmtc/ivy2udp
sw/ground_segment/tmtc/ivy_tcp_aircraft
sw/ground_segment/tmtc/ivy_tcp_controller
sw/ground_segment/tmtc/link
sw/ground_segment/tmtc/messages
sw/ground_segment/tmtc/server
sw/ground_segment/tmtc/settings
sw/lib/ocaml/gtk_papget_editor.ml
sw/lib/ocaml/gtk_papget_gauge_editor.ml
sw/lib/ocaml/gtk_papget_text_editor.ml
sw/simulator/gaia
sw/simulator/simhitl
sw/supervision/gtk_pc.ml
sw/supervision/gtk_process.ml
sw/supervision/paparazzicenter
sw/tools/fp_parser.ml

