<settings>
  <rc_settings/>
  <dl_settings>
    <dl_settings name="flight params">
      <dl_setting step="10" shortname="altitude" min="0" var="flight_altitude" max="1000"/>
      <dl_setting step="1" min="0" var="nav_course" max="360"/>
      <dl_setting step="5" handler="IncreaseShift" shortname="inc. shift" module="nav" min="-10" var="nav_shift" max="10"/>
      <dl_setting step="1" handler="ResetFlightTimeAndLaunch" shortname="flight time" module="autopilot" min="0" var="estimator_flight_time" max="0"/>
      <dl_setting step="10" handler="SetNavRadius" module="nav" min="-200" var="nav_radius" max="200">
        <strip_button name="Circle right" value="1" icon="circle-right.png"/>
        <strip_button name="Circle left" value="-1" icon="circle-left.png"/>
        <key_press key="greater" value="1"/>
        <key_press key="less" value="-1"/>
      </dl_setting>
    </dl_settings>
    <dl_settings name="mode">
      <dl_setting step="1" module="estimator" min="0" var="pprz_mode" values="MANUAL|AUTO1|AUTO2|HOME|NOGPS|FAILSAFE" max="2"/>
      <dl_setting step="1" min="0" var="launch" max="1"/>
      <dl_setting step="1" min="0" var="kill_throttle" max="1"/>
      <dl_setting step="1" shortname="tele_AP" module="downlink" min="0" var="telemetry_mode_Ap_DefaultChannel" max="2"/>
      <dl_setting step="1" handler="Reset" shortname="GPS reset" module="gps_ubx" min="0" var="gps_reset" max="2"/>
    </dl_settings>
    <dl_settings name="Infrared">
      <dl_setting step="1" param="IR_ROLL_NEUTRAL_DEFAULT" alt_unit="deg" shortname="roll neutral" module="infrared" unit="rad" min="-15" var="ir_roll_neutral" max="15" alt_unit_coef="57.3"/>
      <dl_setting step="0.01" param="IR_PITCH_NEUTRAL_DEFAULT" shortname="pitch neutral" module="infrared" unit="rad" min="-0.3" var="ir_pitch_neutral" max="0.5"/>
    </dl_settings>
  </dl_settings>
</settings>
